
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Bad+Script&family=Charm:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&family=Julee&family=Loved+by+the+King&family=Noto+Sans+Linear+A&family=Playpen+Sans:wght@100..800&family=Seaweed+Script&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light box-white" id ="Portfolio" routerLink="home">My Portfolio</a>
      <div class="navbar-nav">
  
          <a class="nav-link text-light box-white" id="second-box" routerLink="aboutme">About Me</a>
  
  
          <a class="nav-link text-light box-white" id = "third-box" routerLink="projects">Projects</a>
  
   
          <a class="nav-link text-light box-white" id = "last-box" routerLink="skills">Skills</a>  
    
      </div>
    </div>
  </nav>
</body>
</html>