<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Bad+Script&family=Charm:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&family=Julee&family=Loved+by+the+King&family=Noto+Sans+Linear+A&family=Playpen+Sans:wght@100..800&family=Seaweed+Script&display=swap" rel="stylesheet">
<body>
  <footer class="contact-footer bg-dark text-light">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <p class="mb-0 py-3">Contact: chinmay.code326&#64;gmail.com | © 2025 My Portfolio</p>
    </div>
</footer>
</body>
</html>


