<section class="projects">
    <div class="container">
      <h2>My Projects</h2>
  
      <div class="projects-grid">
        <!-- Project 1 -->
        <div class="project-card">
          <img src="cars.PNG" alt="Project 1">
          <div class="project-info">
            <h3>Cars</h3>
            <p>Getting cars according to user preferences</p>
            <p>Technologies mainly used are Djangos , Python , Sqlite</p>
            <a href="https://github.com/12chinmayjain/CARS" class="btn">View Project</a>
          </div>
        </div>
  
        <!-- Project 3 -->
        <div class="project-card">
          <img src="codepulseproject.PNG" alt="Project 3">
          <div class="project-info">
            <h3>CodePulse</h3>
            <p>Performing CRUD operations on categories</p>
            <p>Technologies mainly used are dot net core web api , angular </p>
            <a href="https://github.com/12chinmayjain/CodePulse.API" class="btn">View Project</a>
          </div>
        </div>
  
        <!-- Add more project cards as needed -->
      </div>
    </div>
  </section>
  