<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projects</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Bad+Script&family=Charm:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&family=Itim&family=Julee&family=Loved+by+the+King&family=Noto+Sans+Linear+A&family=Playpen+Sans:wght@100..800&family=Poiret+One&family=Seaweed+Script&display=swap" rel="stylesheet">
</head>
<body>
  <section class="projects">
    <div class="container">
      <h2>My Projects</h2>
  
      <div class="projects-grid">
        <!-- Project 1 -->
        <div class="project-card">
          <img src="cars.PNG" alt="Project 1">
          <div class="project-info">
            <h3>Cars</h3>
            <p>Getting cars according to user preferences</p>
            <p>Technologies mainly used are Djangos , Python , Sqlite</p>
            <a href="https://github.com/12chinmayjain/CARS" class="btn">View Project</a>
          </div>
        </div>
  
        <!-- Project 3 -->
        <div class="project-card">
          <img src="codepulseproject.PNG" alt="Project 3">
          <div class="project-info">
            <h3>CodePulse</h3>
            <p>Performing CRUD operations on categories</p>
            <p>Technologies mainly used are dot net core web api , angular </p>
            <a href="https://github.com/12chinmayjain/CodePulse.API" class="btn">View Project</a>
          </div>
        </div>
  
        <!-- Add more project cards as needed -->
      </div>
    </div>
  </section>
</body>
</html>

  