<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Portfolio</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Julee&family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="split-screen">
    <div class="left">
      <h1>Front-End Developer</h1>
      <div class="face-container">
        <img src="tri-face-r.png" alt="Creative face" class="animated-face-left" />
      </div>
      <p class="md">Crafting beautiful interfaces with a thinker’s touch.</p>
    </div>
    <div class="right">
      <h1>&lt;Back-End Developer&gt;</h1>
       <!-- Back-End Developer Side -->
      <div class="face-container">
        <img src="tri-face.png" alt="Coder face" class="animated-face-right" />
      </div>
      <p class="md">Building powerful logic behind seamless experiences.</p>
    </div>
  </div>
  <div class="center-tagline">
    <span class="center-tagline-left">"Just Do IT" -- My philosophy for</span>
    <span class="center-tagline-right">learning and getting things done.</span>
  </div>
  
</body>
</html>
